In [1]:
import sqlite3

In [2]:
import pandas as pd

In [3]:
db = sqlite3.connect("shoes_database.db")

In [4]:
cursor = db.cursor()

In [5]:
cursor.execute('create table Table1(ShoeName text, Category text, no_of_colors int, price int)')

In [6]:
cursor.execute("insert into Table1(ShoeName, Category, no_of_colors, price) values('Nike Air force1 07', 'Women', 2, 7455)")

In [7]:
with open('Table1.csv','r') as file:
    total_records = 0
    for row in file:
        cursor.execute("insert into Table1 values(?,?,?,?)", row.split(","))
        db.commit()
        total_records +=1
print(total_records, 'Records inserted')

6 Records inserted

In [8]:
results = cursor.execute("Select * from Table1")

results.fetchall()

[('Nike Air force1 07', 'Women', 2, 7455),
 ('Nike Air force1 Wild ', 'Women', 5, 12795),
 ("Nike Air force1'07", 'Men', 2, 7495),
 ("Nike Air force1'07", 'Women', 1, 10795),
 ("Nike Air force1'07 LV8", 'Men', 2, 10795),
 ('Nike Air force 1 Shadow', 'Women', 2, 11895),
 ("Nike Air force1'07 LX", 'Men', 1, 11895)]

In [9]:
# 1 Write a query  to retrieve all shoe names and their corresponding prices for men's shoes:

In [10]:
results = cursor.execute("Select ShoeName, price from Table1 Where Category = 'Men'")
results.fetchall()

[("Nike Air force1'07", 7495),
 ("Nike Air force1'07 LV8", 10795),
 ("Nike Air force1'07 LX", 11895)]

In [11]:
# 2 Write a query to retrieve the number of different colors available for each category.

In [12]:
results = cursor.execute("Select Category, Count(DISTINCT no_of_colors) as num_colors from Table1 group by Category;")
results.fetchall()

[('Men', 2), ('Women', 3)]

In [13]:
# 3 Write a query to find the most expensive men's shoe.

In [14]:
results = cursor.execute("Select ShoeName, price from Table1 where Category = 'Men' order by price desc limit 1")
results.fetchall()

[("Nike Air force1'07 LX", 11895)]

In [15]:
# 4 Write a query to find the cheapest women's shoe in a specific color (e.g., 'Black ').

In [16]:
results = cursor.execute("select ShoeName, price from Table1 where Category = 'Women' AND no_of_colors = 'Black' order by price limit 1")
results.fetchall()

[]

In [17]:
# 5 Write a query to retrieve all shoe names and their corresponding prices for men's shoes.

In [18]:
results = cursor.execute("Select ShoeName, price from Table1 where Category = 'Men';")
results.fetchall()

[("Nike Air force1'07", 7495),
 ("Nike Air force1'07 LV8", 10795),
 ("Nike Air force1'07 LX", 11895)]

In [ ]:
#Table 2

In [19]:
cursor.execute('create table Table2(count_of_sizes int, color1 text, color2 text,color3 text, color4 text, color5 text, style_code int)')

In [20]:
cursor.execute("insert into Table2(count_of_sizes, color1, color2,color3, color4, color5, style_code) values(7,'Blue','Grey','White','Black','peach',009)")

In [21]:
with open('Table2.csv','r') as file:
    total_records = 0
    for row in file:
        cursor.execute("insert into Table2 values(?,?,?,?,?,?,?)", row.split(","))
        db.commit()
        total_records +=1
print(total_records, 'Records inserted')

6 Records inserted

In [22]:
results = cursor.execute("Select * from Table2")

results.fetchall()

[(7, 'Blue', 'Grey', 'White', 'Black', 'peach', 9),
 (6, ' Red', ' white', ' black', ' Grey', ' Pink', 1),
 (5, ' White', ' Black', ' Pink', ' Blue', ' Grey', 2),
 (6, ' White', ' black', ' blue', ' red', ' Grey', 52),
 (4, ' White', ' black', ' blue', ' red', ' Grey', 4),
 (5, ' White', ' black', ' blue', ' red', ' Grey', 5),
 (3, ' White', ' black', ' blue', ' red', ' Grey', 6)]

In [23]:
# 1 Write a query that retrieves the count of sizes for all styles.

In [24]:
results = cursor.execute("select style_code, count_of_sizes from Table2")

results.fetchall()

[(9, 7), (1, 6), (2, 5), (52, 6), (4, 4), (5, 5), (6, 3)]

In [25]:
# 2  Write a query to list all styles with their associated colors.

In [27]:
results = cursor.execute("select style_code, color1, color2, color3, color4, color5 from Table2")

results.fetchall()

[(9, 'Blue', 'Grey', 'White', 'Black', 'peach'),
 (1, ' Red', ' white', ' black', ' Grey', ' Pink'),
 (2, ' White', ' Black', ' Pink', ' Blue', ' Grey'),
 (52, ' White', ' black', ' blue', ' red', ' Grey'),
 (4, ' White', ' black', ' blue', ' red', ' Grey'),
 (5, ' White', ' black', ' blue', ' red', ' Grey'),
 (6, ' White', ' black', ' blue', ' red', ' Grey')]

In [28]:
# 3 Write a to find styles that have more than one color.

In [34]:
results = cursor.execute("select style_code from Table2 where color3 IS NOT NULL")

results.fetchall()

[(9,), (1,), (2,), (52,), (4,), (5,), (6,)]

In [30]:
# 4  Write a query to find the count of sizes available for each color for a specific style code.

In [31]:
results = cursor.execute("select style_code, color1, count(distinct count_of_sizes) as size_count from Table2 group by style_code, color1")

results.fetchall()

[(1, ' Red', 1),
 (2, ' White', 1),
 (4, ' White', 1),
 (5, ' White', 1),
 (6, ' White', 1),
 (9, 'Blue', 1),
 (52, ' White', 1)]

In [32]:
# 5  Write a query to find styles that have a specific color.

In [33]:
results = cursor.execute("select style_code from Table2 where color1 = 'Blue'")

results.fetchall()

[(9,)]

In [35]:
# Table 3

In [36]:
cursor.execute('create table Table3(reviews int, Size int, comfort int, quantification int, star_rating int)')

In [37]:
cursor.execute('insert into Table3(reviews, Size, comfort, quantification, star_rating) values(8521, 8, 4, 5, 4)')

In [38]:
with open('Table3.csv','r') as file:
    total_records = 0
    for row in file:
        cursor.execute("insert into Table3 values(?,?,?,?,?)", row.split(","))
        db.commit()
        total_records +=1
print(total_records, 'Records inserted')

6 Records inserted

In [39]:
results = cursor.execute("Select * from Table3")

results.fetchall()

[(8521, 8, 4, 5, 4),
 (8556, 6, 5, 5, 5),
 (85213, 9, 5, 5, 4),
 (92432, 8, 4, 5, 4),
 (2432, 8, 4, 5, 4),
 (33352, 8, 4, 5, 4),
 (28432, 8, 4, 5, 4)]

In [40]:
# 1 Write a query calculates the average comfort rating for a specific product based on its reviews.

In [45]:
results = cursor.execute("select avg(comfort) as avg_comfort from Table3 order by reviews")

results.fetchall()

[(4.285714285714286,)]

In [44]:
# 2  Write a query to retrieve products with high star ratings (e.g., 4 stars or above)

In [46]:
results = cursor.execute("select * from Table3 where star_rating >= 4")

results.fetchall()

[(8521, 8, 4, 5, 4),
 (8556, 6, 5, 5, 5),
 (85213, 9, 5, 5, 4),
 (92432, 8, 4, 5, 4),
 (2432, 8, 4, 5, 4),
 (33352, 8, 4, 5, 4),
 (28432, 8, 4, 5, 4)]

In [47]:
# 3 Write a query that counts the number of reviews for each product.

In [50]:
results = cursor.execute("select count(reviews) as review_count from Table3 group by star_rating")

results.fetchall()

[(6,), (1,)]

In [51]:
# 4  Write a To retrieve products that have a quantified durability/quality/performance rating above a certain threshold (e.g., above 7).

In [52]:
results = cursor.execute("select * from Table3 where quantification > 7")

results.fetchall()

[]

In [53]:
# 5 Write a query that  calculates the average comfort rating for each size.

In [54]:
results = cursor.execute("select size, avg(comfort) as avg_comfort from Table3 group by size")

results.fetchall()

[(6, 5.0), (8, 4.0), (9, 5.0)]