In [1]:
#1. https://www.nike.com

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('https://www.nike.com')

In [6]:
Womens = driver.find_element(By.XPATH,'/html/body/div[3]/div/div[3]/header/div[1]/div[2]/nav/div[2]/div/ul/li[3]/a')
Womens.click()

In [7]:
Shoes = driver.find_element(By.XPATH,'/html/body/div[4]/div/div/div[2]/div[4]/div/div/div/section/ul/li[2]/figure/a')
Shoes.click()

In [8]:
Brand_Name =[]

for i in driver.find_elements(By.XPATH,'//a[@class="product-card__img-link-overlay"]'):
    Brand_Name.append(i.text)

In [9]:
Shoes = pd.DataFrame({'Brand Name':Brand_Name})

In [10]:
Shoes

   Brand Name
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [11]:
driver.close()

In [1]:
# 2. https://www.adidas.com

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('https://www.adidas.com')

In [6]:
Womens = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[2]/div/header/div[2]/div/ul/li[2]/a')
Womens.click()

In [7]:
Best_of_adidas = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[7]/section/div/div/div/div[1]/div/button[2]')
Best_of_adidas.click()

In [11]:
Name = []
Price = []
Type =[]

for i in driver.find_elements(By.XPATH,"//p[@class='_product-card-details__name_2rvru_1255']"):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='gl-price-item notranslate _product-card-assets__price-item_2rvru_1147']"):
    Price.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//p[@class='_product-card-details__category_2rvru_1268 _small_2rvru_1276']"):
    Type.append(i.text)

In [12]:
print(len(Name),len(Price),len(Type))

16 13 16

In [14]:
Adidas = pd.DataFrame({'Brand Name':Name[0:13], 'Price':Price[0:13], 'Type':Type[0:13]})

In [15]:
Adidas.to_csv('Adidas.csv')

In [16]:
Data = pd.read_csv('Adidas.csv')
Data

,Unnamed: 0,Brand Name,Price,Type
0,0,Samba OG Shoes,₹10 999.00,Shoes
1,1,Handball Spezial Shoes,₹10 999.00,Shoes
2,2,INDIA CRICKET ODI FAN JERSEY,₹999.00,Clothing
3,3,BRANDLOVE HOODIE,₹10 999.00,Clothing
4,4,Samba OG Shoes,₹9 999.00,Shoes
5,5,Forum Low Shoes,₹5 299.00,Shoes
6,6,Inter Miami CF 23/24 Messi 10 Away Jersey,₹3 799.00,Clothing
7,7,Tensaur Hook and Loop Shoes,₹1 999.00,Shoes
8,8,Adilette Aqua Slides,₹2 499.00,Shoes
9,9,AEROREADY Designed for Movement Shorts,₹11 999.00,Clothing
10,10,STREET ICON SHOES,₹9 999.00,Shoes
11,11,Essentials Single Jersey Big Logo Tee,₹1 799.00,Clothing
12,12,Samba OG Shoes,₹2 499.00,Shoes

In [17]:
driver.close()

In [18]:
# 3. https://us.puma.com/us/en

In [23]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [24]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
driver = webdriver.Chrome()

In [26]:
driver.get('https://us.puma.com/us/en')

In [27]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/main/section/div[2]/a/button')
location.click()

In [28]:
Sneakers = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/main/div/div/div[3]/div[1]/div/div/div/div/div[1]/div/a/div[1]/div/div')
Sneakers.click()

In [29]:
Name = []
Price = []
Colors =[]

for i in driver.find_elements(By.XPATH,"//h3[@class='w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2']"):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//span[@class='whitespace-nowrap text-base text-puma-red font-bold']"):
    Price.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//span[@class='group-hover:hidden group-focus-within:hidden text-puma-black-300 uppercase text-xs whitespace-nowrap']"):
    Colors.append(i.text)

In [30]:
print(len(Name),len(Price),len(Colors))

24 24 19

In [31]:
Sneakers = pd.DataFrame({'Brand Name':Name[0:19], 'Price':Price[0:19], 'Colors':Colors[0:19]})

In [32]:
Sneakers.to_csv('Sneakers.csv')

In [33]:
Data = pd.read_csv('Sneakers.csv')
Data

,Unnamed: 0,Brand Name,Price,Colors
0,0,RS 3.0 Unisex Sneakers\nPUMA Black-PUMA White-...,"₹3,999",3 COLORS
1,1,RS 3.0 Unisex Sneakers\nPUMA Black-PUMA White,"₹3,999",3 COLORS
2,2,RS 3.0 Unisex Sneakers\nPUMA White-PUMA Black,"₹3,999",3 COLORS
3,3,Scuderia Ferrari Clyde Unisex Sneakers\nRosso ...,"₹4,999",2 COLORS
4,4,Mayze Crashed PRM Women's Sneakers\nWarm White,"₹5,399",2 COLORS
5,5,Mayze Crashed PRM Women's Sneakers\nPUMA White,"₹5,399",2 COLORS
6,6,Blktop Rider Lithium Unisex Sneakers\nInky Blu...,"₹5,399",2 COLORS
7,7,Blktop Rider Lithium Unisex Sneakers\nPUMA Bla...,"₹5,399",2 COLORS
8,8,Slipstream Bball Mix Unisex Sneakers\nPUMA Whi...,"₹6,599",2 COLORS
9,9,PUMA x THE SMURFS RS-X Sneakers\nTeam Light Bl...,"₹7,199",7 COLORS
10,10,RBD Game Unisex Sneakers\nPuma White-Puma Blac...,"₹4,499",7 COLORS
11,11,RBD Game Unisex Sneakers\nPuma White-Puma Whit...,"₹4,499",7 COLORS
12,12,RS-X Geek Unisex Sneakers\nPUMA Black-Malachite,"₹6,599",7 COLORS
13,13,RS-X Geek Unisex Sneakers\nPUMA White-Persian ...,"₹6,599",7 COLORS
14,14,RS-X Geek Unisex Sneakers\nFeather Gray-Cool M...,"₹6,599",7 COLORS
15,15,RS-X Geek Unisex Sneakers\nPUMA White-Fizzy Lime,"₹5,499",7 COLORS
16,16,RS-X Geek Unisex Sneakers\nPUMA Black-Strong Gray,"₹4,659",2 COLORS
17,17,RS-X Geek Unisex Sneakers\nPUMA White-Inky Blue,"₹6,599",2 COLORS
18,18,RS-X Geek Unisex Sneakers\nPUMA Black-Team Lig...,"₹6,599",2 COLORS

In [34]:
driver.close()

In [1]:
# 4. https://www.skechers.com

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
driver = webdriver.Chrome()

In [11]:
driver.get('https://www.skechers.com')

In [12]:
Name = []
Price = []
Colors =[]
Gender = []

for i in driver.find_elements(By.XPATH,"//a[@class='link c-product-tile__title']"):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//span[@class='value']"):
    Price.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='c-product-tile__color-swatches__label']"):
    Colors.append(i.text)

for i in driver.find_elements(By.XPATH,"//div[@class='c-product-tile__gender']"):
    Gender.append(i.text)

In [13]:
print(len(Price),len(Colors),len(Gender))

8 8 8

In [14]:
Skechers = pd.DataFrame({'Price':Price[0:8], 'Colors':Colors[0:8], 'Gender':Gender[0:8]})

In [15]:
Skechers.to_csv('Skechers.csv')

In [16]:
Data = pd.read_csv('Skechers.csv')
Data

   Unnamed: 0   Price    Colors   Gender
0           0  $75.00  4 Colors  WOMEN'S
1           1  $75.00  4 Colors  WOMEN'S
2           2  $70.00  4 Colors    MEN'S
3           3     NaN       NaN      NaN
4           4     NaN       NaN      NaN
5           5     NaN       NaN      NaN
6           6     NaN       NaN      NaN
7           7     NaN       NaN      NaN

In [17]:
driver.close()

In [26]:
# 5. https://www.columbia.com/

In [27]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
driver = webdriver.Chrome()

In [30]:
driver.get('https://www.columbia.com/')

In [32]:
Click = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/button/i')
Click.click()

In [33]:
Country = driver.find_element(By.XPATH,'/html/body/div[7]/div[4]/a[1]/div/div[1]/div')
Country.click()

In [34]:
Best_Seller = driver.find_element(By.XPATH,'/html/body/div[5]/div[2]/div/div/div/div/div/div/div/div/div/div/div/div[1]/div/div/ul/li[2]/a')
Best_Seller.click()

In [36]:
Name = []
Price = []

for i in driver.find_elements(By.XPATH,"//a[@class='single-product']"):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//span[@class='price-new']"):
    Price.append(i.text)

In [37]:
print(len(Name),len(Price))

120 18

In [39]:
Best_Seller = pd.DataFrame({'Name':Name[0:18], 'Price':Price[0:18]})

In [40]:
Best_Seller.to_csv('Best_Seller.csv')

In [41]:
Data = pd.read_csv('Best_Seller.csv')
Data

    Unnamed: 0  Name  Price
0            0   NaN    NaN
1            1   NaN    NaN
2            2   NaN    NaN
3            3   NaN    NaN
4            4   NaN  8,099
5            5   NaN  7,999
6            6   NaN  4,949
7            7   NaN    NaN
8            8   NaN    NaN
9            9   NaN    NaN
10          10   NaN    NaN
11          11   NaN    NaN
12          12   NaN    NaN
13          13   NaN    NaN
14          14   NaN    NaN
15          15   NaN    NaN
16          16   NaN    NaN
17          17   NaN    NaN

In [42]:
driver.close()

In [43]:
# 6. https://www.woodlandworldwide.com/

In [44]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [45]:
import warnings
warnings.filterwarnings('ignore')

In [46]:
driver = webdriver.Chrome()

In [47]:
driver.get('https://www.woodlandworldwide.com/')

In [48]:
Boots = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/section[2]/div/div/div[3]/div/div[2]/button')
Boots.click()

In [49]:
Name = []
Price = []

for i in driver.find_elements(By.XPATH,"//p[@class='productcardplp_productname__F8lks']"):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//p[@class='productcardplp_productprice__jdlz6']"):
    Price.append(i.text)

In [50]:
print(len(Name),len(Price))

104 104

In [51]:
Boots = pd.DataFrame({'Brand Name':Name[0:104], 'Price':Price[0:104]})

In [52]:
Boots.to_csv('Boots.csv')

In [53]:
Data = pd.read_csv('Boots.csv')
Data

     Unnamed: 0                     Brand Name         Price
0             0  Woodland Camel Trekking Shoes    ₹4595₹2297
1             1              Khaki hiking boot    ₹4495₹2697
2             2              Navy Boot for Men         ₹5995
3             3   Woodland SNAYPE hiking boots    ₹6995₹3000
4             4      Cashew brown boot for men    ₹4495₹3371
..          ...                            ...           ...
99           99     Brown hiking shoes for men   ₹15995₹9597
100         100      Cashew brown boot for men    ₹4695₹2817
101         101            Brown boots for men    ₹7995₹3000
102         102             Grey Boots for men  ₹14995₹11246
103         103            Brown boots for men  ₹15995₹11996

[104 rows x 3 columns]

In [54]:
driver.close()